[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/awhitesmith/hugo-PaperModX
[submodule "themes/hugo-chart"]
	path = themes/hugo-chart
	url = https://github.com/shen-yu/hugo-chart
